.nav_links {
    position: relative;
    text-decoration: none;
  }
  
  .nav_links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }
  
  .nav_links:hover::after {
    width: 100%;
  }
  .cool-title {
    position: relative;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
  }
  
  .cool-title::before,
  .cool-title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transition: all 0.3s ease;
  }
  
  .cool-title::before {
    left: -5px;
    bottom: -5px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
  
  .cool-title::after {
    right: -5px;
    top: -5px;
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
  }
  
  .cool-title:hover::before {
    border-width: 0 0 20px 20px;
  }
  
  .cool-title:hover::after {
    border-width: 20px 20px 0 0;
  }